@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  margin: 0;

  font-family: "Montserrat", sans-serif !important;
}
body,html{
  overflow-x: hidden;
}

.primary{
   background-color: #1b7e14;
   padding:5px 20px;
   color: white;
   border: none;
   border-radius: 3px;
}

.profile-button{
    display:flex;
    align-items: center;
    padding:5px;
}

.secondary{
  background-color: #2dd421;
  padding:5px 20px;
  color: #fff !important;
  border: none;
  border-radius: 3px;
}

.profile-name {
  padding: 0px 5px;
}